@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

.newInput {
  background-color: #E1ECC8;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
} 
.newInput form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.newInput input {
  /* Styles for the input box */
  width: 250px; /* Adjust the width to your desired size */
  height: 20px; /* Adjust the height to your desired size */
  padding: 15px;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 10px;
}
.submitButton {
  /* Styles for the submit button */
  background-color: #C4D7B2;
  height: 50px;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.submitButton:hover {
  /* Styles for hover state of the submit button */
  background-color: #A0C49D;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.groupInputButton {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

