@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

.newRatingForm {
  background-color: #F7FFE5;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.buttonContainer {
  display: flex;
  gap: 200px;
}

.h1 {
 position: absolute;
 top: 200px; 
}
