.viewReport {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #fea49f;
  padding: 20px;
}

.viewReport > div {
  margin-bottom: 10px;
}

.viewReport button {
  margin-top: 10px;
}